<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enmotoo</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/js/Loader/css/loader.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <header>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <div>
        <div id="backLoader">
            <div id="loader">
                <div>
                    <img src="~/js/Loader/img/ajax-loader.gif" alt="loading"/>
                    <p>Por favor espere...</p>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Loader/js/mainLoader.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
