@{
    ViewData["Title"] = "Home Page";
    string copyright = "@Enmotoo 2021";
}
<link href="~/lib/MDB 5/css/mdb.min.css" rel="stylesheet" />

<style>
    .custom-section {
        display: inline-block;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        box-shadow: 0px 0px 7px rgb(0 0 0 / 20%);
        padding: 25px;
        padding-top: 3%;
        border-radius: 8px
    }
    main {
        background-image: url(https://i.ibb.co/SNbkXtx/Group-1.png);
        width: 100vw;
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
    }
    .mt4 {
        margin-top: 37px;
    }
</style>

<section class="custom-section">
    <img src="https://i.ibb.co/sqWRSK7/logo.png" style="height: 35px;transform: translateX(-10%);margin-bottom: 15%;">
    <h4 style=" padding-bottom: 20px;">
        Log in
    </h4>

    <div class="d-flex align-items-center">
        <form style="width: 23rem;" class="needs-validation" novalidate>

            <div class="form-outline mb-4">
                <input type="email" id="user_email" class="form-control form-control-lg" required>
                <label class="form-label" for="user_email" style="margin-left: 0px;">Correo</label>
                <div class="invalid-feedback">Por favor ingrese un correo válido</div>
                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 47.2px;"></div><div class="form-notch-trailing"></div></div>
            </div>

            <div class="form-outline mb-4 mt4">
                <input type="password" id="user_pass" class="form-control form-control-lg" required>
                <label class="form-label" for="user_pass" style="margin-left: 0px;">Contraseña</label>
                <div class="invalid-feedback">Compruebe su contraseña</div>
                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 73.6px;"></div><div class="form-notch-trailing"></div></div>
            </div>

            <div class="pt-1 mb-4 mt4">
                <button class="btn btn-info btn-lg btn-block" type="submit" asp-action="OpenMain">Iniciar sesión</button>
            </div>
        </form>

    </div>
    <p style="text-align: center; margin-top: 10%;">@copyright</p>
</section>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict';

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach((form) => {
            form.addEventListener('submit', (event) => {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })();
</script>

<script src="~/lib/MDB 5/js/mdb.min.js"></script>