@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<link href="~/lib/DataTables/datatables.min.css" rel="stylesheet" />

<style>
    .btnLoad {
        margin: 25px 0 25px 25px;
        background-color: #0098DA;
        color: #fff;
        border: none;
        padding: 10px;
        width: 280px;
        border-radius: 8px;
    }
</style>

<!-- Just an image -->
<nav class="navbar navbar-expand-lg navbar-light bg-white" style=" box-shadow: -1px 0px 6px rgb(0 0 0 / 40%);">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://i.ibb.co/sqWRSK7/logo.png"
                 height="32"
                 alt="Logo"
                 loading="lazy" />
        </a>
    </div>
</nav>

<div style="display: flex;justify-content: center;">
    <button onclick="loadTerminado();" id="btnLoadTerminado" class="btnLoad">Cargar información (Terminado)</button>
    <button onclick="loadCancelado();" id="btnLoadCancelado" class="btnLoad">Cargar información (Cancelado)</button>
    <a class="btn btnLoad" asp-area="" asp-controller="Report" asp-action="Consolidado">Consolidado</a>
    <button onclick="Update();" id="btnUpdate" class="btnLoad">Actualizar</button>
</div>

<div class="container-fluid" id="main_view">

</div>

<!--********************************************-->
<script src="~/lib/DataTables/datatables.min.js"></script>
<script src="~/lib/DataTables/Plug-ins/sum().js"></script>
<script>
    function loadTerminado() {
        $.ajax({
            url: '../Report/GetAllDataTerminado',
            type: 'GET',
            cache: false,
            //data: ,
            //dataType: "json",
            success: function (result) {
                $("#main_view").html(result);
                $(".maxw-3").css("max-width", "170px");
                $(".maxw-2").css("max-width", "100px");
                $(".maxw-1").css("max-width", "80px");
            },
            error: function (jqXHR, textStatus, error) {
                console.log(error);
            }
        });
    }

    function loadCancelado() {
        $.ajax({
            url: '../Report/GetAllDataCancelado',
            type: 'GET',
            cache: false,
            //data: ,
            //dataType: "json",
            success: function (result) {
                $("#main_view").html(result);
                $(".maxw-3").css("max-width", "170px");
                $(".maxw-2").css("max-width", "100px");
                $(".maxw-1").css("max-width", "80px");
            },
            error: function (jqXHR, textStatus, error) {
                console.log(error);
            }
        });
    } 

    function Update() {
        $.ajax({
            url: '../Report/Update/',
            type: 'GET',
            cache: false,
            //data: ,
            //dataType: "json",
            success: function (result) {
                $("#main_view").html(result);
            },
            error: function (jqXHR, textStatus, error) {
                console.log(error);
            }
        });
    }

    
</script>